body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background: white;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}
html{scroll-behavior:smooth}
h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

#tooltip {
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
#USMap{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}

#OrgBarChart{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
#OrgBarWoundKill{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
#General_Information{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
path.state {
  stroke: black;
}

/* Change Pointer to Click. */
.container{
  display:grid;
  grid-template-columns: 1/1/1/1;
  grid-template-rows: 1/1/1/1;
}
#hover-content{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

#USMap{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 20;
}
/* #bargraph{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
} */
#OrgBarChart{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nwounded-plot{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#Information{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}