body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background: pink;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

#tooltip {
  display: block;
  height: 50px;
}

path.state {
  stroke: black;
}

/* .container {
    display: grid;
    grid-template-columns: 0.1fr repeat(1, 0.5fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 4px;
    } 

  
  .hover-content { grid-area: 1 / 1 / 2 / 2; } 
  .container { grid-area: 1 / 2 / 3 / 3; }  

  
  .bargraph { grid-area: 1 / 3 / 3 / 4; } 
  
  .scatter-plot { grid-area: 3 / 2 / 4 / 3; } 
  
  .nwounded-plot{ grid-area: 3 / 3 / 4 / 4; } 
  
  .Information { grid-area: 3 / 1 / 4 / 2; }  */
  

/* .container {
  display: grid;
  grid-template-columns: 0.1fr repeat(1, 0.5fr);
  grid-template-rows: 100px repeat(4, 400px);
  grid-column-gap: 6px;
  grid-row-gap: 4px;
  }
  
  .hover-content { grid-area: 1 / 1 / 2 / 2; }
  .container { grid-area: 2 / 2 / 3 / 3; }
  .bargraph { grid-area: 2 / 3 / 3 / 4; }
  .scatter-plot { grid-area: 3 / 2 / 4 / 3; }
  .nwounded-plot { grid-area: 3 / 3 / 4 / 4; }
  .Information { grid-area: 4 / 2 / 5 / 3; } 

   */


.container{
  display:grid;
  grid-template-columns: 150px, 740px, 740px, 740px;
  grid-template-rows: 100px, 1000px, 1000px, 1000px;
}
#hover-content{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

#map{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 20;
}
#bargraph{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
#scatter-plot{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nwounded-plot{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#Information{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}