body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 60px;
  background: white;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}
html{scroll-behavior:smooth}
h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}
#navbartitle{
  text-align: center;
  opacity:1;
}
/*#navbar {
  overflow: hidden;
  position: fixed; Set the navbar to fixed position 
  background-color: rgb(204, 204, 204);
  top: 40%; 
  right: 0%;
  width: 12%; 
  opacity: 1;
} */
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 3;
}


/* Links inside the navbar */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 3;
}

/* Change background on mouse-over */
#navbar a:hover {
  background: gray;
  color: white;
}
.main {
  margin-top: 200px
}

#tooltip {
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
#USMap{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}

#OrgBarChart{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
#OrgBarWoundKill{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
#General_Information{
  margin-top: 10px; /* change default value */
  margin-left: 10px; /* change default value */
  height: 100%;
  width: 740px;
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
path.state {
  stroke: black;
}

.container{
  display:grid;
  grid-template-columns: 1/1/1/1;
  grid-template-rows: 1/1/1/1;
}
#hover-content{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

#USMap{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 2;
}
/* #bargraph{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
} */
#OrgBarChart{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#OrgBarKill{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#OrgBarWound{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#OrgBarNone{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#General_Information{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

table, td, th{
  border: 1px solid black;
 
}
table{
  border-collapse: collapse;
}
th{
  color: black
}